*{
  box-sizing: border-box;
  padding: 0px;
  align-items: center;
  /* border: 1px solid pink; */
}
.LoginReg{
  display: none;
}
.App{
  /* background-image: url(https://t3.ftcdn.net/jpg/04/56/00/16/360_F_456001627_vYt7ZFjxEQ1sshme67JAXorKRPo8gsfN.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#logoutbutton{
  height: 40px;
  width: 40px;

}
.navbar{
  padding: 0px 20px;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgb(205, 144, 196);
  background: rgb(238,174,202);
background: linear-gradient(11deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.nav2{
  width: 50vw;
  display: flex;
  justify-content: space-around;
}
#Logo{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
#cartimg{
  height: 40px;
  width: 40px;
}
.cartlen{
  height: 30px;
  width: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
font-size: 20px;
padding: 3px;
}
span .cartlen{
  text-decoration: none;
}
.Searchbar{
  display: flex;
  position: relative;
}
.Searchbar input[type=text]{
height: 40px;
width: 300px;
border-color: black;
padding-left: 10px;
border-radius: 15px;
}
#searchimg{
  height: 25px;
  width: 30px;
 position: absolute;
 right: 10px;
 top: 5px;
}
#loginbutton{
  height: 30px;
  width: 50px;
  /* border: 2px solid black; */
  border-radius: 5px;
  background-color: transparent;
}

.ParentNavlink {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.hamburger{
  display: none;
}
.CarouselProducts{
  height: 40vh;
  width: 100vw;
  margin-top: 20px;
  border: 2px solid black;
}
.parentProductDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ProductDetailsDisplay{
  height: 350px;
  width: 300px;
  background-color: rgb(198, 175, 219);
  border-radius: 15px;
  border: 1px solid grey;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.ProductDisplayimg{
  height: 130px;
  width: 130px;
  margin: auto auto;
}
.productImg{
  height: 130px;
  width: 130px;
  border-radius: 15px;
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.linethrough{
  text-decoration: line-through;
  color: grey;
}
.addtocart{
  height: 30px;
  width: 130px;
  background-color: white;
border-radius: 15px;
}
.details{
  margin-top: -5px;
  padding: auto auto;
  font-size: medium;
}
.details a{
  text-decoration: none;
}
.Productstructure{
  width: 280px;
  margin: auto auto;
  text-align: center;
}

.IndividualPagestructure{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:1fr 1fr;
  height: 350px;
  align-content: center;
}
.individualImg{
  grid-row:1/2;
  grid-column: 1/2;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.individualimg{
  height: 250px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.individualDetails{
  grid-row:1/2;
  grid-column: 2/3;
 padding-left: 20px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: flex-start;
}
.indicart{
  height: 50px;
  width: 150px;
  background-color: rgb(191, 83, 83);
color: white;
font-family: cursive;
border-radius: 15px;
border: 1px solid white;
}
.navlink{
  color: black;
  font-family: cursive;
  text-decoration: none;
}


.Carouselstyling{
cursor: pointer;
}

.totalDealsWrapper{
  height: 400px;
  width: 100%;
background-color:white;
border: 1px solid grey;
}
.DealsTextParent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DealsText{
  font-weight: bold;
  font-size: larger;
}
.dealsproducts{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(115, 74, 152);
  margin: 5px;
  border-radius: 5px;
  box-shadow: -2px 2px lightgrey;
}
.GifHomePage{
  width: 100%;
  display: flex;
  justify-content: center;
}
.gifstyling{
  width: 200px;
  height: 200px;
  /* margin: auto auto; */
}
.ShippingPartWrapper{
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: bisque;
}
.detailshipping{
  width: 220px;
  text-align: center;
}
.shipping{
  height: 70px;
  width: 70px;
}
.FooterWrapper{
background-color: lightgray;
display: flex;
flex-wrap: wrap;
}
.footerLogo{
  height: 80px;
  width: 80px;
  border-radius: 50px;
  margin: 20px;
}
.FooterListWrapper{
  display: flex;
  justify-content: space-around;
}
.BrandsList{
  margin-left: 50px;
}
.FooterDetails{
  margin-left: 50px;

}
.footerimg{
  height: 20px;
  width: 20px;
  margin-bottom: -5px;
  cursor: pointer;
}
/* Login page style */
.LoginWrapper{
  height: 70vh;
  width: 100vw;
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
display: flex;
}
.LoginLeft{
  height: 69vh;
  width: 70vw;
  /* background-color: white; */
  margin-top: 5px;
 border-radius: 40% 30px 70% 10% ;
 text-align: center;
 background-image:radial-gradient(rgb(209, 160, 238), rgb(139, 134, 152));
 border :1px solid white;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}
.ecartlogin{
  height: 60px;
  width: 60px;
  margin-top: 20px;
  display: block;
  /* margin-left: -250px; */
  border-radius: 50%;
}
.LoginButton{
  height: 30px;
  width: 150px;
  background-color: rgb(122, 33, 178);
  border-radius: 10px;
border: 2px solid rgb(136, 95, 171);
font-size: large;
font-weight: bold;
color: white;
}


.LoginLeft input[type=email] ,[type=password]{
  height: 30px;
  width: 200px;
  border: 2px solid rgb(136, 95, 171);
  border-radius: 10px;
}
.LoginLeft input[type=email]:focus{
background-color: rgb(226, 225, 225);
}
.LoginLeft input[type=password]:focus{
  background-color: rgb(226, 225, 225);
}

.Registerbutton{
  height: 30px;
  width: 250px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px lightgray;
  background-color: rgb(122, 33, 178);
color: white;
font-weight: bold;
font-family: cursive;
font-size: large;
}
.CartWrapper{
  height: 70vh;
  width: 100vw;

}
.RegisterWrapper{
  height:80vh;
  width: 100vw;
  background-image:radial-gradient(rgb(209, 160, 238), rgb(139, 134, 152));
color: white;
font-weight: bold;
font-size: large;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: serif;
}
.createAcc{
  /* border : 1px solid white; */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  text-shadow: 2px 2px  grey;
}
.RegisterDetails{
  width: 50vw;
  text-align: center;
}
.flnames{
  display: flex;
 justify-content: center;
 gap: 10px; 
}
.RegisterDetails input[type='email'] ,input[type=password],input[type=text]{
  height: 30px;
  width: 200px;
  border: 2px solid rgb(136, 95, 171);
  border-radius: 10px;

}

.CartEmpty{
  height: 90vh;
  width: 100%;
  background-image: url(https://assets.materialup.com/uploads/16e7d0ed-140b-4f86-9b7e-d9d1c04edb2b/preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.CartEmpty a{
text-decoration: none;
}
.continueshopping{
  font-family: fantasy;
  color: rgb(127, 92, 161);
}
.devicename{
  font-family:'Courier New', Courier, monospace;
font-weight: bold;
margin: 5px;
}
.ParentCartItem{
  height: 25vh;
  width: 70%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

}
.cartImg{
  height: 130px;
  width: 130px;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 3px;
}
#cartitemimg{
margin: auto;
}
.cartitemWrapper{
  width: 100vw;
  display: flex;
  justify-content:space-evenly;
}
.cartitemdetails{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.qty{
  display: flex;
  width: 100px;
  justify-content: space-around;
}
.rmvbtn{
  height: 30px;
  width: 70px;
  margin-top: 10px;
  background-color: rgb(212, 182, 238);
  border-radius: 5px;
  border: 1ps solid grey;
}
.btnclr{
  background-color: rgb(212, 182, 238);
height: 20px;
width: 20px;
border: 1px solid rgb(212,182,232);
border-radius: 3px;
}
.CheckOut{
  height: 30px;
  width: 250px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px lightgray;
  background-color: rgb(122, 33, 178);
color: white;
font-weight: bold;
font-family: cursive;
font-size: large;
 
}
.thankuWrapper{
  height: 80vh;
  width: 100vw;
  background-color: rgb(212, 182, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}
.thnkutxt{
  font-family: cursive;
  font-size: larger;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px  black;
}
.OrderDetailsWrapper{
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
}


@media screen  and (min-width:600px) and (max-width:1030px) {
 .navbar{
   height: 8vh; 
   justify-content: space-around;
 }
 .nav2{
 width: 60vw;
 }
 .FooterWrapper{
flex-direction: column; 
position: relative;
height: auto;
}
.LoginLeft{
  height: 50vh;
  align-items: center;
}
.RegisterWrapper{
  height: 50vh;
}
.IndividualPagestructure{
height: auto;
}
}

/* Mobile view Media Query */

@media screen and (min-width: 350px) and (max-width:600px) {

  /* .responsivenavbar{
  height: 100%;
  width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
transform:  translateY(-100vh);
transition: 1s;
z-index: 5;

  }
  .ParentNavlink .responsivenavbar{
    height: 30vh;
    width: 50vw;
    transform: none;
    position: absolute;
  }
  .hamburger{
    position: fixed;
    left: 10px;
    display: flex ;
    cursor: pointer;

  }
  .topline{
    width: 30px;
    height: 3px;
    border: 2px solid black;
    margin-bottom: 5px;
  }
  
  .bottomline{
    width: 30px;
    height: 3px;
    border: 2px solid black;
  } */
 
  .navbar{
    height: 9vh;
  }
  #Logo{
    height: 40px;
    width: 40px;
  }
  .Searchbar input[type=text]{
  width: 150px;
  height: 35px;

  }
  .nav2{
    width: 80vw;
  }
  #cartimg{
    height: 30px;
    width: 30px;
  }
 
  .FooterWrapper{
  word-wrap: break-word;
  }  
  .footerpara{
    width: 100%;
  }  
.BrandsList{
  margin-left: 0px;
}
.FooterListWrapper{
  flex-direction: column;
}
.IndividualPagestructure{
height: auto;
width: 100%;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr;
}
.individualImg{
grid-row: 1/2;
grid-column: 1/2;
}
.individualDetails{
grid-row: 2/3;
grid-column: 1/2;

}
.LoginReg{
  display:flex;
  flex-direction: column;
}
.LoginRight{
  display: none;
}
.LoginWrapper{
  height: 90vh;
}
.LoginLeft{
  width: 100vw;
  height: 90vh;
}
.Registerbutton{
  width: 170px;

}

.ParentCartItem{
  width: 90%;
}
.RegisterDetails input[type='email'] ,input[type=password],input[type=text]{
width: 150px;
}
}

